body {
    margin: 0;
}

.flex {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    height: 90vh;
    gap: 1vw;
    transition: transform .5s ease;
}

.item {
    position: absolute;
    top: 0;
    width: 21.5vw;
    height: 60vh;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fixed {
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
}

a {
    font-size: 50px;
    text-decoration: none;
    padding-right: 30px;
}